body {
 background-color: black;
 font-size: 0;
}
.row {
 text-align: center;
}
table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 10px solid white;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 140px;
  box-sizing:border-box;
}

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

.container, .playerTurn {
  text-align: center;
}

.X, .O {
  border-radius: 8px;
}
.X {
  background: yellow;
}
.O {
  background: blue;
}

.clear {
  background: white;
}

#reset {
  padding: 3px;
  width: 300px;
  font-size: 1.5em;
  border-radius: 13px;
  cursor: pointer;
}

#reset:hover{
  background: #b8bdee;
  border-color: white;
}
