
body {
  background-color: #0A0A0A;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: #666;
  line-height: 1.7em;
  font-weight: normal;
  font-size: 1em;
  padding: 1.25em;
  padding-top: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.25em;
  text-align: center;
}

.greeting {
  text-align: center;

}

.banner {
  max-width: 672px;
  margin: 0 auto;
}

.section-heading {
  margin-top: -20px;
}


.section-heading a {
  color: #ff3;
  text-decoration: none;

}

.shell {
max-width: 60em;
margin: 0 auto;
text-align: center;
}

.gallery-item {
width:30%;
padding: 10px;
}

.gallery-item-image {
width: 100%;
}


.gallery-item-title {
color: #555;
font-style: normal;
font-size: 1em;
}

.gallery-item-description {
  color: #999;
  font-style: normal;
  font-size: 0.6875em;
}


.gallery {
  border-top: #555 double 3px;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 630px){
  .gallery {
    display:block;
  }

  .gallery-item {
    width: 100%;
  }

}
